
\.idea/

target/

\.DS_Store

classes/artifacts/spring_boot_web_Web_exploded/META-INF/MANIFEST\.MF

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/applications\.properties

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/bootstrap/PersonLoader\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/controllers/PersonRestEndpointController\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/domain/Person\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/exception/PersonNotFoundException\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/repositories/PersonRepository\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/services/PersonService\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/person/services/PersonServiceImpl\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/restClient/services/WebServiceImpl\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/SpringBootWebApplication\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/webClient/configuration/SecurityConfiguration\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/webClient/configuration/WebConfiguration\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/webClient/controllers/IndexController\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/webClient/controllers/WebController\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/ssw/springframework/webClient/exception/ResourceNotFoundException\.class

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/error\.html

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/fragments/header\.html

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/fragments/headerinc\.html

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/index\.html

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/people\.html

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/personform\.html

classes/artifacts/spring_boot_web_Web_exploded/WEB-INF/classes/templates/personshow\.html
