<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <script src="/webjars/bootstrap/4.0.0-1/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/4.0.0-1/bootstrap.min.js}"></script>

        <script src="/webjars/jquery/3.3.1-1/jquery.min.js"
                th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    </head>
    <body>

    </body>
</html>