<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Spring Framework ssw</title>
        <th:block th:include="fragments/headerinc :: head"></th:block>
    </head>
    <body>
        <div class="container">
            <th:block th:include="fragments/header :: header"></th:block>

            <h2>About:</h2>
            <div>
                <div th:text="${person.personId}"><div>ID:</div></div>
                <div th:text="${person.firstName}"><div>First:</div></div>
                <div th:text="${person.lastName}"><div>Last:</div></div>
                <div th:text="${person.age}"><div>Age:</div></div>
                <div th:text="${person.birthday}"><div>Birthday:</div></div>
                <btn th:href="${'/person/edit/' + person.personId}"></btn>
                <btn th:href="${'/person/delete/' + person.personId}"></btn>
            </div>
        </div>
    </body>
</html>