<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Spring Framework ssw</title>
        <th:block th:include="fragments/headerinc :: head"></th:block>
    </head>
    <body>
        <div class="container">
            <th:block th:include="fragments/header :: header"></th:block>

            <h2>About:</h2>
            <div>
                <h3>Id </h3><div th:text="${person.personId}"></div>
                <h3>First </h3><div th:text="${person.firstName}"></div>
                <h3>Last </h3><div th:text="${person.lastName}"></div>
                <h3>Age</h3><div th:text="${person.age}"></div>
                <h3>Birthday</h3><div th:text="${person.birthday}"></div>
                <h3>Edit</h3><div><btn th:href="${'/person/edit/' + person.personId}"></btn></div>
                <h3>Delete</h3><div><btn th:href="${'/person/delete/' + person.personId}"></btn></div>
            </div>
        </div>
    </body>
</html>